* {
  background-color: darkslategrey;
  margin: 0%;
  padding: 0%;
}
.App {
  text-align: center;
  /* text-align: justify; */
  margin-top: 230px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.show-image {
  display: block;
  margin-left: 640px;
  margin-top: 5px;
  border-radius: 1rem;
}

.pre-img {
  display: none;
}
.form-control {
  margin-left: 1rem;
  padding: 0.2rem;
  left: 0px;
}

.show-data span {
  margin-right: 10px;
}
